.keybox {
    position: absolute;
    width: auto;
    top: 30%;
    left: 20%;
    transform: translate(-20%, -30%);
}
.keybox__funcblock,
.keybox__mainblock {
    width: 980px;  
}
.keybox__mainblock__key,
.keybox__funcblock__key {
    position: relative;
    display: inline-block;
    margin: 3px 2px;
    padding: 5px;
    width: 45px;
    height: 45px;
    border: 0.5px solid black;
    border-radius: 5px;
}
.keybox__funcblock__key--null {
    visibility: hidden;
    width: 10px;
}
.keybox__mainblock__key--large {
    width: 70px;
}
.keybox__mainblock__key--verylarge {
    width: 90px;
}
.keybox__mainblock__key--shift {
    width: 122px;
}