body {
    background-image: url(pic/backgr_1920.jpeg);
    /* background-color: #476481; */
}
.keybox {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 10px;
    margin: 80px auto;
    padding: 14px;
    max-width: 1400px;
    border: solid #5362ad;
    border-radius: 14px;
    background:
        linear-gradient(to bottom,rgba(0, 0, 0, 0.5), rgb(150, 180, 200, .5));
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
    "keybox__block__func keybox__block__break keybox__block__null"
    "keybox__block__main keybox__block__add keybox__block__num"
}

.keybox__block {
    position: relative;
    display: inline-block;
    width: 934px;  
}
.keybox__block_break {
    grid-area: keybox__block__break;
}
.keybox__block_null {
    grid-area: keybox__block__null;
}
.keybox__block_add {
    grid-area: keybox__block__add;
}
.keybox__block_num {
    grid-area: keybox__block__num;
}
.keybox__block--mini {
    width: 195px;
}
.keybox__block--midi {
    width: 255px;
}

.keybox__key {
    position: relative;
    display: inline-block;
    margin: 3px 2px;
    padding: 10px 0 0 10px;;
    width: 45px;
    height: 45px;
    background: rgb(237, 237, 237);
    border: 0.5px solid black;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px #ffeeff;
}
.keybox__key--null {
    visibility: hidden;
}
.keybox__key--small {
    width: 10px;
}
.keybox__key--large {
    width: 70px;
}
.keybox__key--verylarge {
    width: 90px;
}
.keybox__key--shift {
    width: 122px;
}
.keybox__key--littlelarge {
    width: 65px;
}
.keybox__key--overlarge {
    width: 404px;
}
.keybox__key--numhor {
    width: 109px;
}
.keybox__key--numver {
    float: right;
    height: 108px;    
}